body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    
}

.poster {
    width: 300px;
    height:300px;
    position: relative;
    background-color: 
    #f8f8f8;
    background-image: url(file:///C:/Users/user/Downloads/love-png-30869.png);
    padding: 20px;
    margin:  auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#custom-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#name-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.controls {
    margin-top: 20px;
}

input, button {
    margin: 10px;
    padding: 10px;
}
